.btnmb {
    position: absolute;
    left: 401px;
    top: 330px;
    width: 115px;
    height: 168px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.btncpu {
    position: absolute;
    left: 509px;
    top: 14px;
    width: 159px;
    height: 105px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.btnram {
    position: absolute;
    left: 711px;
    top: 30px;
    width: 127px;
    height: 101px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.btngpu {
    position: absolute;
    left: 401px;
    top: 169px;
    width: 118px;
    height: 121px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.btnm2 {
    position: absolute;
    left: 853px;
    top: 610px;
    width: 225px;
    height: 70px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
    border-style: hidden;           
}
.btnpsu {
    position: absolute;
    left: 532px;
    top: 538px;
    width: 158px;
    height: 134px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.btnhdd {
    position: absolute;
    left: 930px;
    top: 519px;
    width: 148px;
    height: 92px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
    border-style: hidden;
}
.btnfp {
    position: absolute;
    left: 963px;
    top: 351px;
    width: 169px;
    height: 131px;
    background-color:rgba(3, 9, 99, .0);
    border-radius: 5px;
}
.App {
    background-image: url(https://cdn.discordapp.com/attachments/775904281671893042/791355915277959199/descargar.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;

}